.tdLabbless{margin-bottom: 27px;
    margin-right: 275px;
    padding-top: 3px;
    padding-bottom: 3px;
    align-items: center;
    background-color: white;
    color: black;
    height: 26px;
    padding-left: 168px;
    width: 259px;
    -webkit-text-decoration: 2px solid black;
    text-decoration: 2px solid black;}