.home-container{
background: #948E99;  
background: -webkit-linear-gradient(to right, #2E1437, #948E99);  
background: linear-gradient(to right, #2E1437, #948E99); 
height: max-content;
width: 100%;
}